<!-- 👇Remove this markup when converting to a handlebars template 👇 -->
<!-- 👆Remove this markup when converting to a handlebars template👆 -->
  <header>
    <div class="header-container">
      <a href="/">
        <h1 class="logo">Music Shop🎸</h1>
      </a>
      <!-- TODO: Replace the below value with the real cart count -->
      <a href="/cart" class="cart-link">Cart (3)</a>
      {{#each cart}}
        {{inventoryQuantity}}
      {{/each}}
    </div>
  </header>
  <main>
    <h2>Items for Sale</h2>
    <section id="saleItems">
<!-- TODO: 👇Use a handlebars each helper to loop over inventory items👇 -->
      <!-- replace with product id -->
        {{#each inventoryId}}
            <li>
              {{Id}}
              {{image}}
              {{name}}
              {{description}}
        
            <p>{{name}}</p>
            <p>{{price}}</p>
          </li>
        {{/each}}
      </ul>
<!-- TODO: 👆Use a handlebars each helper to loop over inventory items👆 -->
    </section>
  </main>
  <footer>
    <p>&copy; Music Shop</p>
  </footer>
<!-- 👇Remove this markup when converting to a handlebars template 👇 -->
<!-- 👆Remove this markup when converting to a handlebars template👆 -->