<!-- 👇Remove this markup when converting to a handlebars template 👇 -->
<!-- 👆Remove this markup when converting to a handlebars template👆 -->
  <header>
    <div class="header-container">
      <a href="/">
        <h1 class="logo">Music Shop🎸</h1>
      </a>
      <!-- TODO: Replace the below value with the real cart count -->
      <a href="/cart" class="cart-link">Cart (3)</a>
    </div>
  </header>
  <main>
    <h2>Items for Sale</h2>
    <section id="saleItems">
<!-- TODO: 👇Use a handlebars each helper to loop over inventory items👇 -->
      <!-- replace with product id -->
        {{#each inventory}}
           <li>{{id}}</li>  
        {{/each}}
           
      <a href="/product/1" class="sale-item">
        <div class="item-img-container">

          <!-- replace with product image and name -->
        {{#each inventory}} 
          <li>
          {{../image}} 
          {{../name}}
          </li>
         {{/each}}
        
          <img src="images/strat.jpg" alt="Stratocaster" />

          <!-- replace with product description -->
        {{#each inventory}} 
          {{../description}}
        {{/each}}
        
          <p>One of the most iconic electric guitars ever made.</p>
        </div>

  <!-- replace with product name and price -->
        {{#each inventory}} 
          {{../name}} {{../price}}
        {{/each}}
        <p>Stratocaster</p>
        <p>$599.99</p>
      </a>
<!-- TODO: 👆Use a handlebars each helper to loop over inventory items👆 -->
    </section>
  </main>
  <footer>
    <p>&copy; Music Shop</p>
  </footer>
<!-- 👇Remove this markup when converting to a handlebars template 👇 -->
<!-- 👆Remove this markup when converting to a handlebars template👆 -->